.App {
  text-align: center;
  min-height: 100vh;
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-black);
  color: var(--color-white);
  position:relative;
}


.body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 18vh;
}

a {
  color: var(--secondary-color);
}


button {
  width: 200px;
  border-radius: 16px;
  margin-block: 10px;
  margin-block: 10px;
  padding-block: 10px;
  padding-inline: 20px;
  background-color: var(--primary-color);
  box-shadow: 2px 1px var(--color-white);
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  font-size: large;
  font-weight: 600;
}

button:hover {
  scale: 1.05;
  box-shadow: 1px 1px var(--primary-color);
}



input {
  width: 250px;
  padding-block: 5px;
  padding-inline: 10px;
  font-size: 32px;
  background-color: var(--secondary-color);
  border-width: 0;
}

input:focus{
  outline: none;
}






