@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");

* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

body {
  margin: 0;
  font-family: var(--body-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-black);
  color: var(--color-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --header-height: 3.5rem;
  --primary-color: #a5e65a;
  --secondary-color: #32d9cb;
  --tertiary-color: #00a6c0;
  --color-white: #FFFFFF;
  --color-offwhite: #cccbcb;
  --color-black: #191e29;
  --color-offblack: #303a4f;
  --body-font: "Montserrat", sans-serif;
  --second-font: "Dancing Script", cursive;
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
 }

 ul {
  list-style: none;
 }
 
 a {
  text-decoration: none;
  text-decoration: dotted underline;
 }
 
