.header {
  height: 12vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-block: 1%;
  padding-inline: 2%;
  position:fixed;
  box-shadow: 0px 0px 20px var(--color-white);
  backdrop-filter: blur(15px);
  z-index: 10;
}

.header-container{
  display: flex;
  flex-direction: row;
  align-items: end;
  width: 80%;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  margin-left: -10px;
  margin-bottom: -18px;
}

.title {
  margin: 2px;
  font-size: 28px;
  color: var(--primary-color)
}

.icon-title {
  margin: 0px;
  font-size: 12px;
  color: var(--color-white);
}


@media screen and (max-width: 992px) {
  .title-container {
    width: 80%;
    align-items: center;
    font-size: 12px;
    margin: 0;

  }
  .title{
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .title-container {
    font-size: 64%;
    width: 100%;
    align-items: center;
  }
}




.web3buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-inline: 6px;
}


.online {
    background-color: var(--primary-color); 
    width: 10px;
    height: 10px;
    border-radius: 10px ;
    margin: 5px;
}

.links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-inline: 1%;
  width: 60%;
}

.links-style{
  margin-inline: 2%;
  padding-inline: 2%;
  padding-block: 1%;
  font-weight: 600;
  font-size: 100%;
}


.links-style:hover, .selected-link{
  margin-inline: 2%;
  padding-inline: 2%;
  padding-block: 1%;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--color-black);
}


@media screen and (max-width: 992px) {

  .nav-burger{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height:36px;
  }
  .links-container {
    position: fixed;
    top: 12vh;
    left: 0%;
    background-color: var(--color-black);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(16px);
    width: 80%;
    height: 60vh;
    transition: left 1s;
    padding-top: 4%;
    padding-left: 12%;
    margin-inline: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-style: groove;
    border-width: 4px;
    border-color: var(--secondary-color);
    border-radius: 0 0 10px 0;
    box-shadow: 2px 2px 8px var(--color-white);
  }

  .links-style{
    text-align: start;
    width: 60%;
    margin-block: 4%;
    border-style: solid;
    border-width: 2px;
    border-color: var(--primary-color);
    border-radius: 10px;
    font-size: large;
    color: var(--color-white);
    padding-left: 4%;
    padding-block: 4%;
  }
}