.main-animation-div {
  height: 90%;
  margin-top: 2%;
  margin-bottom: 4%;
  padding-inline: 2%;
}

.main-animation-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 8.2vh;
  width: 100%;
  margin-block: 0%;
  font-style: oblique;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
}

.main-static-text {
  width: 80%;
  color: var(--primary-color);
}

.main-animation-text {
  height: auto;
  width: auto;
  color: var(--color-white);
  padding-inline: 22px;
  padding-block: 12px;
  border-radius: 10px;
  font-size: 8.2vh;
  text-shadow: 2px 2px 4px;
}
.main-animation-subtext {
  font-size: 18px;
  width: 40%;
  margin-top: 2%;
  text-align: center;
  line-height: 26px;
  text-shadow: 0px 0px 0px;
  color: var(--color-offwhite);
}
.button-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-block: 4%;
}
.main-button-hero{
  justify-content: space-between;
  font-size: x-large;
  margin-inline: 2%;
  padding-block: 0.8%;

  box-shadow: #cccbcb 0px 10px 70px -10px;
}

.support-button-hero{
  width: 220px;
  justify-content: space-between;
  font-size: x-large;
  margin-inline: 2%;
  padding-block: 1%;
  background-color: #303a4f;
  color: #a5e65a;
  box-shadow: #a5e65a 0px 0px 80px -14px;
}



.carousel-container {
  width: 60%;
  margin-block: 4%;
  margin-inline: 20%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;

}

.carousel-item {
  flex: 0 0 auto;
  margin: 0 40px;
  padding: 40px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item Icon {
  height: 50px; /* Adjust height to fit design */
  width: auto;
  object-fit: contain;
}

/* //For Tab like Devices */
@media all and (max-width: 1300px) and (min-width: 600px) {
  .main-animation-box {
    margin-block: 0vh;
    padding-block: 0vh;
    font-size: 7.4vh;
    flex-direction: column;
  }
  .main-static-text {
    margin-right: 0;
    width: 92%
  }
  .main-animation-text {
    height: auto;
    min-width: 30vw;
    font-size: 7.2vh;
    margin-left: 0;
    border-radius: 0%;
    padding-inline: 0px;
    padding-block: 0px;
  }
  .main-animation-subtext {
    font-size: 14px;
    width: 50%;
    margin-left: 0%;
    margin-top: 8%;
    text-align: center;
    line-height: 26px;
  }
}

/* For mobile Devices */
@media all and (max-width: 600px) {
  .main-animation-box {
    margin-top: 10vh;
    margin-bottom: 4vh;
    padding-block: 0vh;
    font-size: 5.4vh;
    flex-direction: column;
  }
  .main-static-text {
    margin-right: 0%;
    width: 96%;
  }
  .main-animation-text {
    height: auto;
    min-width: 30vw;
    font-size: 5.8vh;
    margin-left: 0%;
    margin-top: 4%;
    border-radius: 5%;
    padding-inline: 2px;
    padding-block: 2px;
  }
  .main-animation-subtext {
    font-size: 14px;
    width: 90%;
    margin-left: 0%;
    margin-top: 18%;
    text-align: center;
    line-height: 26px;
  }
  .carousel-container{
    width: 100%;
    margin-inline: 0%;
  }
  .button-box{
  margin-top: 2%;
  margin-bottom: 4%;

  }
  .main-button-hero{
    padding-block: 12px;
  }
  .main-button-hero p{
    font-size: 14px;
  }
  .support-button-hero{
    padding-block: 14px;

  }
  .support-button-hero p{
    font-size: 14px;
  }
}

