.third-section-box{
    height: 110vh;
    padding-inline: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border-width: 2px;
    border-style: solid; */
    
  }

  .card{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-inline: 6%;
    z-index: 5;
    padding-top: 0%;
}
.third-info-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-block: 8%;
  }

  .third-info-grid-box{
    height: 180px;
    background-color: var(--color-offblack);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding-left: 6%;
    padding-block: 8%;
    border-radius: 12px;
  }

  .third-icon-style{
    color: var(--primary-color);
    margin-right: 8px;
  }
  .end-button-box{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }

  .main-button{
    width: 180px;
    justify-content: space-between;
    font-size: x-large;
    margin-inline: 2%;
    box-shadow: #cccbcb 0px 10px 70px -10px;
  }
  .support-button{
    width: 220px;
    justify-content: space-between;
    font-size: x-large;
    margin-inline: 2%;
    padding-block: 2%;
    box-shadow: #a5e65a 0px 10px 70px -10px;
    background-color: #303a4f;
    color: #a5e65a;
  }
  
  @media all and (max-width: 600px) {
      .third-section-box{
          height: 136vh;
          margin-block: 4vh;
          flex-direction: column-reverse;
      }
      .third-info-grid-box h1{
        font-size: 18px;
      }
      .main-button{
        font-size: 16px;
        width: 150px;
        padding: 6px 10px 6px 12px
      }
      .support-button{
        width: 160px;
        font-size: 16px;
        padding-block: 4%;
        padding: 8px 10px 8px 12px

      }
      

      
  }
  